# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.db
*.sqlite3
*.log

# MySQL / XAMPP
*.sql
*.sqlite

# IDEs and Text Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.vscode/

# System Files
.DS_Store
Thumbs.db

# Other
*.bak
*.swp
